.byte {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.keypad {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  display: flex;
  width: 25%;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  background-color: beige;
}